extends layout

block content
	div.container-fluid.h-100
		div.row.h-100
			div.col-2(style="background-color:#dddddd")
				div.container
					div.row.py-2
						div.col-12
							button#addRgn.btn.btn-primary.btn-block Adicionar Região
					div.row.py-2
						div.col-12
							button#addPnt.btn.btn-primary.btn-block Adicionar Ponto
					div.row.pt-2.pb-4
						div.col-12
							button#addPnt.btn.btn-primary.btn-block Fazer consulta
					div.row.pt-4.pb-2
						div.col-12
							input#nomeInput.form-control(placeholder="Nome do objeto")
					div#radiusDiv.row.py-2
						div.col-12
							input#radiusDivInput.form-control(placeholder="Raio do círculo" onkeydown="updateRadius()" onkeyup="updateRadius()")
					div.row.py-2
						div.col-12
							button#saveBtn.btn.btn-success.btn-block Salvar
					div.row.py-2
						div.col-12
							button#resetBtn.btn.btn-warning.btn-block Resetar
					div.row.py-2
						div.col-12
							button#cancelBtn.btn.btn-danger.btn-block Cancelar
			div.col-10
					div#mapid(style="height:100%")
